/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif !important;
    height: 100%;
    width: 100%;
    margin: 0;
}

 md-card {
     margin: 6px;
 }